.about {
  padding: 96rem 0;
  @include mobile {
    padding: 60rem 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
    @include mobile {
      flex-direction: column;
    }
  }

  &__img {
    flex-shrink: 0;
    position: relative;

    @include desktop-small {
      margin-left: 30rem;
    }

    @include tablet {
      flex-shrink: inherit;
    }
  }

  &__img-backdrop {
    position: absolute;
    width: 100%;
    right: 35rem;
    top: 10rem;
    height: calc(100% + 25rem);
    border-radius: 24rem;
    border: 16rem solid $primary-color;
    z-index: -1;
    @include tablet-small {
      width: 100%;
      right: 28rem;
      top: 5rem;
      height: calc(100% + 15rem);
      border: 10rem solid $primary-color;
    }
  }

  &__title {
    @include title-main;
    @include tablet {
      margin-top: 20rem;
    }

    span {
      @include title-second;
    }
  }

  &__role {
    max-width: 461rem;
    color: $desc-color;
    font-size: 16rem;
    font-weight: 400;
    line-height: 27rem;
    margin-top: 32rem;
    margin-bottom: 18rem;
  }

  &__desc {
    @include desc;
    max-width: 509rem;
    margin-bottom: 40rem;
  }

  &__btn {
    padding: 16rem 20rem;
  }
}
