.service {
  padding: 96rem 0;
  background: $section-bg;
  @include mobile {
    padding: 60rem 0;
  }

  &__title {
    @include title-main;

    span {
      @include title-second;
    }
  }

  &__desc {
    @include desc;
    margin-top: 24rem;
    margin-bottom: 56rem;
    max-width: 461rem;
  }
  .service-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286rem, 1fr));
    gap: 30rem;
  }
  .service-list-item {
    display: flex;
    flex-direction: column;
    background: $body-bg;
    padding: 32rem;
    align-items: center;
    text-align: center;
    transform: scale(1);
    transition: $transition;
    &:hover {
      transform: scale(1.1);
    }


    &__img {
      max-width: 40rem;
    }

    &__title {
      margin-top: 32rem;
      margin-bottom: 16rem;
      color: $title-color;
      font-size: 26rem;
      font-weight: 700;
      line-height: 41rem;
    }

    &__desc {
      @include desc;
    }
  }
}
